################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/测试项目/obj/Container
/测试项目/obj/Debug/net8.0
/测试项目/obj
